#personal_brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}

#logo {

    height: 40px;
    margin: 3px;
    padding-right: 25px;
}

/*Parte del menu*/
.presentacion {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: 1200px;

    padding: 30px;
    height: 53px;

    z-index: 1000;
    box-shadow: 0 2px 8px hsla(0, 4%, 69%, 0.8);
    border-radius: 20px;
    transition: box-shadow 0.4s ease, transform 0.3s ease;

}

.redes {
    display: flex;
    padding-left: 80px;
}


h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;

}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
}

.items_menu a {
    text-decoration: none;
    color: #fff;
    margin-right: 14px;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;

}

.items_menu a:hover {
    border-bottom: #C19F38 1px solid;
    color: #C19F38;
    transition: 0.40s;
}

.presentacion:hover {
    box-shadow:
        0 0 8px #C19F38,
        0 0 5px #C19F38,
        0 4px 8px rgba(193, 159, 56, 0.6);

    transform: translateX(-50%) scale(1.01);
}